@charset "UTF-8";

/* Reset */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* Tipografia */
    @font-face {
        font-family: 'Android';
        font-weight: normal;
        src: url('../fonts/idroid.otf') format(opentype);
    }

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Variáveis */
    :root {
        --branco: #ffffff;
        --fonte-android: 'Android', Times;
        --fonte-destaque: 'Bebas Neue', Times;
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --preto: #000000;
        --verde-1: #c5ebd6;
        --verde-2: #83e1ad;
        --verde-3: #3ddc84;
        --verde-4: #2fa866;
        --verde-5: #1a5c37;
        --verde-6: #063d1e;
    }

/* Versão desktop */
    a.externo:after {
        content: '\00A0\1F517';
    }

    body {
        background-color: var(--verde-1);
        font-family: var(--fonte-padrao);
    }

    header {
        background-image: linear-gradient(to bottom, var(--verde-3), var(--verde-1));
    }

    header nav {
        background-color: var(--verde-6);
        box-shadow: 0px 3px 6px 0px var(--preto);
        padding: 12px;
        padding-bottom: 7px;
        padding-left: 0px;
    }

/* Versão mobile */
    @media (max-width: 768px) {
        header nav {
            padding: 0px;
        }
    }

    header nav a {
        color: var(--verde-1);
        letter-spacing: 1px;
        margin-right: 25px;
        text-decoration: none;
        transition: 0.6s ease;
    }

    header nav a:hover {
        border-radius: 10px;
        color: var(--verde-3);
        transition: 0.6s ease;
    }

    .nav-bar {
        position: fixed;
        top: 0;
        transition: top 0.4s ease;
        width: 100%;
        z-index: 1000;
    }

    .menu-mobile {
        cursor: pointer;
        display: none;
    }

    .menu-mobile div {
        transition: 0.4s ease;
    }

/* Versão mobile */
    @media (max-width: 768px) {
        .menu-mobile {
            cursor: pointer;
            display: block;
            left: 77.5vw;
            position: relative;
        }

        .menu-mobile div {
            background: var(--branco);
            height: 2px;
            margin: 8px;
            transition: 0.4s ease;
            width: 32px;
        }

        .menu-mobile div:hover {
            transition: 0.4s ease;
        }

        .lista-nav {
            align-items: center;
            background: var(--verde-6);
            border-radius: 0px 0px 0px 50px;
            box-shadow: 0px 3px 6px 0px var(--preto);
            display: flex;
            flex-direction: column;
            gap: 80px;
            height: 70vh;
            margin-top: 0px;
            padding-bottom: 15px;
            position: absolute;
            right: 0;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            width: 33vw;
        }

        .lista-nav li {
            opacity: 0;
        }

        .lista-nav.ativa {
            transform: translateX(0);
        }

        @keyframes linkNavOpaco {
            from {
                opacity: 0;
                transform: translateX(50px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .menu-mobile.ativa .linha-1 {
            transform: rotate(-40deg) translate(-8px, 8px);
        }

        .menu-mobile.ativa .linha-2 {
            opacity: 0;
        }

        .menu-mobile.ativa .linha-3 {
            transform: rotate(40deg) translate(-5px, -7px);
        }
    }

    header ul {
        display: flex;
    }

    .mascote-android {
        height: 25px;
        transform: rotate(90deg);
    }

/* Versão mobile */
    @media (max-width: 768px) {
        .mascote-android {
            transform: rotate(180deg);
        }
    }

    header li {
        list-style: none;
        margin-left: 20px;
    }

    header h1 {
        color: var(--verde-6);
        font-family: var(--fonte-destaque);
        padding-bottom: 15px;
        text-align: center;
    }

    header h2 {
        color: var(--verde-6);
        font-family: var(--fonte-android);
        font-size: 1.0em;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        text-align: center;
    }

    main {
        background-color: var(--branco);
        border-radius: 30px;
        box-shadow: 0px 0px 10px var(--preto);
        margin: auto;
        margin-bottom: 30px;
        margin-top: 60px;
        max-width: 1000px;
        min-width: 300px;
        padding: 20px;
    }

    main h1 {
        color: var(--verde-6);
        font-family: var(--fonte-android);
        font-size: 1.8em;
        font-weight: normal;
    }

    main p {
        font-size: 1.0em;
        line-height: 2.0em;
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
    }

    main strong {
        color: var(--verde-5);
        font-weight: bold;
    }

    main h2 {
        background-image: linear-gradient(to right, var(--verde-2), transparent);
        color: var(--verde-5);
        font-family: var(--fonte-android);
        font-size: 1.3em;
        font-weight: normal;
        text-indent: 8px;
    }

    main a {
        background-color: var(--verde-2);
        color: var(--verde-6);
        font-weight: bold;
        padding: 2px 6px;
        text-decoration: none;
        transition: 0.4s ease;
    }

    main a:hover {
        color: var(--verde-5);
        text-decoration: underline;
        transition: 0.4s ease;
    }

    main img {
        width: 100%;
    }

    .imagem-irina-blok {
        border-radius: 15px;
        transition: 0.5s ease;
    }

    .imagem-irina-blok:hover {
        box-shadow: 0px 0px 10px var(--preto);
        transition: 0.5s ease;
    }

    .imagem-bugdroid-homem {
        display: block;
        margin: auto;
        max-width: 350px;
        transition: 0.2s ease;
    }

    .imagem-bugdroid-homem:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    div.vídeo {
        background-color: var(--verde-6);
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 59%;
        position: relative;
    }

    div.vídeo > iframe {
        height: 86%;
        left: 5%;
        position: absolute;
        top: 7%;
        width: 90%;
    }

    aside {
        background-color: var(--verde-2);
        border-radius: 10px;
        box-shadow: 3px 3px 8px var(--preto);
        padding: 10px;
    }

    #curiosidades {
        margin-top: 130px;
    }

    aside > h3 {
        background-color: var(--verde-5);
        border-radius: 10px 10px 0px 0px;
        color: var(--branco);
        margin: -10px -10px 0px -10px;
        padding: 5px;
    }

    aside > ul {
        columns: 2;
        list-style-position: inside;
        list-style-type: '\2714\00A0\00A0';
    }

    footer {
        background-color: var(--verde-6);
        color: var(--branco);
        font-size: 0.8em;
        letter-spacing: 1px;
        padding: 7px;
        text-align: center;
        transition: 0.4s ease;
    }

    /* Versão mobile */
    @media (max-width: 768px) {
        footer {
            padding: 4px;
            transition: 0.4s ease;
        }
    }

    footer p {
        color: var(--branco);
    }

    footer a {
        color: var(--branco);
        text-decoration: none;
        font-weight: bolder;
        transition: 0.5s ease;
    }

    footer a:hover {
        color: var(--verde-2);
        text-decoration: underline;
        transition: 0.5s ease;
    }